atomicwrites==1.2.1
attrs==18.2.0
click==7.1.2
cmake==3.11.0
cycler==0.10.0
dlib==19.13.1
imutils==0.4.6
kiwisolver==1.0.1
matplotlib==3.0.2
more-itertools==4.3.0
numpy==1.14.5
opencv-python==3.4.1.15
packaging==19.1
pluggy==0.7.1
py==1.6.0
PyHamcrest==1.9.0
pyparsing==2.3.1
pytest==3.8.0
python-dateutil==2.7.5
scikit-build==0.10.0
six==1.11.0
teyered==0.1
